.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.nav-items{
    padding: 0px 20px;
}
.nav-items > ul {
    display: flex;
}

.nav-items > ul > li {
    padding: 15px;
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.restaurant-card {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 20px;
}

.restaurant-card:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-out 0.1ms;
}

.search {
    margin: 10px;
    gap: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.filter_btn {
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.login-btn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.restaurant-logo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}